@font-face {
  font-family: "ProximaNova Bold";
  src: url("./fonts/proximanova-bold.eot");
  src: url("./fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/proximanova-bold.woff") format("woff"), url("./fonts/proximanova-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Regular";
  src: url("./fonts/sfpro-regular.eot");
  src: url("./fonts/sfpro-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/sfpro-regular.woff") format("woff"), url("./fonts/sfpro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Semibold";
  src: url("./fonts/sfpro-semibold.eot");
  src: url("./fonts/sfpro-semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/sfpro-semibold.woff") format("woff"), url("./fonts/sfpro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Bold";
  src: url("./fonts/sfpro-bold.eot");
  src: url("./fonts/sfpro-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/sfpro-bold.woff") format("woff"), url("./fonts/sfpro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
